WebSocketServer/.vscode/launch.json
WebSocketServer/.vscode/tasks.json
WebSocketServer/bin/Debug/net5.0/appsettings.Development.json
WebSocketServer/bin/Debug/net5.0/appsettings.json
WebSocketServer/bin/Debug/net5.0/WebSocketServer.deps.json
WebSocketServer/bin/Debug/net5.0/WebSocketServer.dll
WebSocketServer/bin/Debug/net5.0/WebSocketServer.exe
WebSocketServer/bin/Debug/net5.0/WebSocketServer.pdb
WebSocketServer/bin/Debug/net5.0/WebSocketServer.runtimeconfig.dev.json
WebSocketServer/bin/Debug/net5.0/WebSocketServer.runtimeconfig.json
WebSocketServer/bin/Debug/net5.0/ref/WebSocketServer.dll
WebSocketServer/obj/project.assets.json
WebSocketServer/obj/project.nuget.cache
WebSocketServer/obj/WebSocketServer.csproj.nuget.dgspec.json
WebSocketServer/obj/WebSocketServer.csproj.nuget.g.props
WebSocketServer/obj/WebSocketServer.csproj.nuget.g.targets
WebSocketServer/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WebSocketServer/obj/Debug/net5.0/apphost.exe
WebSocketServer/obj/Debug/net5.0/project.razor.json
WebSocketServer/obj/Debug/net5.0/WebSocketServer.AssemblyInfo.cs
WebSocketServer/obj/Debug/net5.0/WebSocketServer.AssemblyInfoInputs.cache
WebSocketServer/obj/Debug/net5.0/WebSocketServer.assets.cache
WebSocketServer/obj/Debug/net5.0/WebSocketServer.csproj.AssemblyReference.cache
WebSocketServer/obj/Debug/net5.0/WebSocketServer.csproj.CoreCompileInputs.cache
WebSocketServer/obj/Debug/net5.0/WebSocketServer.csproj.FileListAbsolute.txt
WebSocketServer/obj/Debug/net5.0/WebSocketServer.dll
WebSocketServer/obj/Debug/net5.0/WebSocketServer.GeneratedMSBuildEditorConfig.editorconfig
WebSocketServer/obj/Debug/net5.0/WebSocketServer.genruntimeconfig.cache
WebSocketServer/obj/Debug/net5.0/WebSocketServer.MvcApplicationPartsAssemblyInfo.cache
WebSocketServer/obj/Debug/net5.0/WebSocketServer.pdb
WebSocketServer/obj/Debug/net5.0/WebSocketServer.RazorTargetAssemblyInfo.cache
WebSocketServer/obj/Debug/net5.0/ref/WebSocketServer.dll
WebSocketServer/obj/Debug/net5.0/staticwebassets/WebSocketServer.StaticWebAssets.Manifest.cache
WebSocketServer/obj/Debug/net5.0/staticwebassets/WebSocketServer.StaticWebAssets.xml
.vscode/launch.json
.vscode/tasks.json
WebSocketServer/bin/Debug/net5.0/Newtonsoft.Json.dll
WebSocketServer/obj/Debug/net5.0/WebSocketServer.csproj.CopyComplete
